.MainPage{
  width: auto;
  height: auto;
}
.title{
  width: 100%;
  text-align: center;

}
.contents{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-left: 5rem;
}
.MainMovie{
  width: 100%;
}
